
<div>
  <%= flash[:notice] %>
</div>

<div class="show-title">
  <strong>Title:</strong>
  <p2><%= @book.title %></p2>
</div>

<div class="show-body">
  <strong>Body:</strong>
  <p2><%= @book.body %></p2>
</div>

<span>
  <%= link_to "Edit",edit_book_path(@book.id) %>
  <%= link_to "Back", "/books" %>
</span>